<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FlipAnalyse</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href= {{url_for('static',filename='css/bootstrap.css')}} />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <link href= {{url_for('static',filename='css/style.css')}} rel="stylesheet" />
  <link href= {{url_for('static',filename='css/responsive.css')}} rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="images/flipkart-favicon.ico">
</head>

<body>
  <div class="hero_area sub_pages">
    <!-- header section strats -->

    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="index.html">
             <img src="" alt="" /><span><!--{{url_for('static',filename="images/flipkart-favicon.ico")}} -->
              Top Products
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/analysis"> Analysis </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/work"> How FlipAnalyse works</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- end header section -->

  </div>

  <!-- analysis section -->
  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <h5 class="card-title ">Top 90 electronics products</h5>

            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">product link</th>
                    <th scope="col">detail 1</th>
                    <th scope="col">detail 2</th>
                    <th scope="col">detail 3</th>
                    <th scope="col">detail 4</th>
                    <th scope="col">image link</th>
                    <th scope="col">price</th>
                    <th scope="col">Rating</th>

                  </tr>
                </thead>
                <tbody>

                 
                  {% for rowss in data.index %}
                  <tr>
                    <th scope="row">{{rowss + 1}}</th>
                    <td>{{data.name[rowss]}}</td>
                    <td><a href={{data.product_link[rowss]}}>{{data.product_link[rowss][0:30] + "......."}}</a></td>
                    <td>{{data.Detail_1[rowss]}}</td>
                    <td>{{data.Detail_2[rowss]}}</td>
                    <td>{{data.Detail_3[rowss]}}</td>
                    <td>{{data.Detail_4[rowss]}}</td>
                    <td><a href={{data.image_link[rowss]}}>{{data.image_link[rowss][0:30] + "......."}}</a></td>
                    <td>{{data.price[rowss]}}</td>
                    <td>{{data.Rating[rowss]}}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
         
    </div>
  </div> 

  
<!-- conclusion section -->

<section class="info_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>
          Web Scraping
        </h5>
        <ul>
          <li>
            ParseHub
          </li>
          <li>
            Apify
          </li>
          <li>
            Social media
            <ol>
              <li>&#8226; Twitter</li>
              <li>&#8226; Reddit</li>
              <li>&#8226; LinkedIn</li>
            </ol>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>
          Analysis and Prediction
        </h5>
        <ul>
          <li>
            Python
            <ol>
              <li>&#8226; NumPy</li>
              <li>&#8226; Pandas</li>
              <li>&#8226; Plotly</li>
              <li>&#8226; Pickle</li>
              <li>&#8226; NLTK</li>
              <li>&#8226; TensorFlow</li>
            </ol>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>
          Web Technologies
        </h5>
        <ul>
          <li>
            HTML
          </li>
          <li>
            CSS
          </li>
          <li>
            Bootstrap
          </li>
          <li>
            Flask
          </li>
        </ul>
      </div>
      <div class="subscribe_container">
        <div class="form_container">
          <button type="submit">
            View code
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- end of conclusion section -->

<!-- footer section -->

<section class="container-fluid footer_section">
  <p>
    Project by
    <a href="https://www.linkedin.com/in/arya-gupta2002/" target="_blank">Arya</a> & <a
      href="https://www.linkedin.com/in/bhaswatiroy31/" target="_blank">Bhaswati</a>
  </p>
</section>

<!-- end of footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>